# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 8
    # Maximum memory in gigabytes for a cluster job
    mem: 10
    # sanbi account for quota
    account: 3004115@myuwc.ac.za
    queue: long.q@grid02.sanbi.ac.za
    # Maximum allowed running time on the cluster in Hours:Minutes
    #walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules: 
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:

# Run quality checks on the FASTQ files using fastQC
    fastqc:
        walltime: '10:00'
        mem: 8
        modules:
            - 'fastqc/0.11.4'

    # Index the hg19 human genome reference with BWA
    index_reference_bwa:
        walltime: '10:00'
        mem: 8
        modules:
            - 'bwa/bwa-0.7.8' 
    
    # Index the hg19 human genome reference with samtools
    index_reference_novoindex:
        walltime: '10:00'
        mem: 8
        modules:
            - 'novoalign/novoalign-3.01.00'
    
    # Index the hg19 human genome reference with samtools
    index_reference_samtools:
        walltime: '10:00'
        mem: 8
        modules:
            - 'samtools/samtools-0.1.19'
    
    #Creating reference dictionary
    createSequenceDictionary:
        walltime: '10:00'
        mem: 10
        modules:
            - 'picard-tools/picard-tools-1.141/picard.jar'

    # Trim paired end FASTQ files to the reference
    trim_galore:
        cores: 8
        walltime: '8:00'
        mem: 10
        modules:
            - 'trim_galore/trim_galore-0.4.0'
    
    # Trim paired end FASTQ files using trimmomatic tools
    trim_fastq:
        cores: 8
        walltime: '8:00'
        mem: 10
        modules:
            - 'Trimmomatic/0.33'

    # Novoalign the hg19 human genome reference with samtools
    novoalign:
        cores: 8
        walltime: '10:00'
        mem: 10
        modules:
            - 'novoalign/novoalign-3.01.00'
            - 'samtools/samtools-0.1.19'

    # Novosort the bam file
    novosort_bam:
        cores: 8
        walltime: '10:00'
        mem: 10
        modules:
            - 'novoalign/novoalign-3.01.00'

    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 8
        walltime: '8:00'
        mem: 10 
        modules:
            - 'bwa/bwa-0.7.8'
            - 'samtools/samtools-0.1.19'
   
    # Sort the BAM file with Picard 
    sort_bam_picard:
        walltime: '10:00'
        mem: 10 
        modules:
            - 'picard-tools/picard-tools-1.141/picard.jar'

    # Mark duplicate reads in the BAM file with Picard
    mark_duplicates_picard:
        walltime: '10:00'
        mem: 30 
        modules:
            - 'picard-tools/picard-tools-1.141/picard.jar'

   # Alignment Statistics Report
    collectalignmentmetric:
        walltime: '10:00'
        mem: 10
        modules:
            - 'picard-tools/picard-tools-1.141/picard.jar'

   # buildBamIndex file to get bai file
    buildBamIndex:
        walltime: '10:00'
        mem: 10
        modules:
            - 'picard-tools/picard-tools-1.141/picard.jar'
    
    # Generate chromosome intervals using GATK 
    RealignerTarget_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30 
        modules:
            - 'gatk/gatk-3.2.2'
    
    # Local realigner using GATK
    IndelRealigner_gatk:
        walltime: '10:00'
        mem: 30 
        modules:
            - 'gatk/gatk-3.2.2'

    # local base recalibrator using GATK
    basedRecalibrate_gatk:
        walltime: '10:00'
        mem: 30 
        modules:
            - 'gatk/gatk-3.2.2'

    # Print reads using GATK
    viewReads_gatk:
        walltime: '10:00'
        mem: 30 
        modules:
            - 'gatk/gatk-3.2.2'

    # Call variants using GATK
    call_variants_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30 
        modules:
            - 'gatk/gatk-3.2.2'

    # Samtools for variant calling
    call_variants_samtools:
        walltime: '10:00'
        mem: 8
        modules:
            - 'samtools/samtools-0.1.19'
   
    # Samtools for variant filtering 
    variant_samtools_filter:
        walltime: '10:00'
        mem: 8
        modules:
            - 'samtools/samtools-0.1.19'

    # Freebayes for variant calling
    freebayes_call:
        walltime: '10:00'
        mem: 8
        modules:
            - 'freebayes/9.9.13'

    # variant annotation using SNPEFF
    annotating_vcf_SNPEFF:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'snpeff/default'

# The Human Genome in FASTA format.

ref_grch37: /usr/people/ajayi/test/complexo_pipeline/example/reference/HumanTest500k_g1k_H37Rv_decoy.fasta

index_file: /usr/people/ajayi/test/complexo_pipeline/example/reference/*.nix

# The input FASTQ files.

fastqs:
   - /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1117_R1.fastq.gz
   - /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1117_R2.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1118_R1.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1118_R2.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1119_R1.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1119_R2.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1120_R1.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1120_R2.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1121_R1.fastq.gz
   #- /cip0/research/scratch/ajayi/Input_fasta_files/H37Rv1121_R2.fastq.gz
 

pipeline_id: 'H37Rv'


